In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [2]:
df = pd.read_excel("datasets/Dataset.xls")
df

,Employee_ID,Absence_Reason,Date,Transportation_Expense,Distance_to_Work,Employment_Service_Time,Employee_Age,Daily_Workload_Average,Target_Achievement_Rate,Disciplinary_Incident,Education_Level,Children,Social_Drinker_Status,Social_Smoker_Status,Employee_Weight,Employee_Height,BMI,Absence_Duration_Hours
0,11,26,07/07/2015,289,36,13,33,239554,97,0,1,2,1,0,90,172,30,4
1,36,0,14/07/2015,118,13,18,50,239554,97,1,1,1,1,0,98,178,31,0
2,3,23,15/07/2015,179,51,18,38,239554,97,0,1,0,1,0,89,170,31,2
3,7,7,16/07/2015,279,5,14,39,239554,97,0,1,2,1,1,68,168,24,4
4,11,23,23/07/2015,289,36,13,33,239554,97,0,1,2,1,0,90,172,30,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,17,40,237656,99,0,2,2,0,1,63,170,22,8
696,28,6,23/05/2018,225,26,9,28,237656,99,0,1,1,0,0,69,169,24,3
697,18,10,24/05/2018,330,16,4,28,237656,99,0,2,0,0,0,84,182,25,8
698,25,23,24/05/2018,235,16,8,32,237656,99,0,3,0,0,0,75,178,25,2
699,15,28,31/05/2018,291,31,12,40,237656,99,0,1,1,1,0,73,171,25,2